@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    margin: 6px;
    box-sizing: border-box;
}
/* ***************************************************************BADREDDINE************************************************************ */
.sponsors{
    display: flex;
}
.sponsors input{
margin-right: 300px;
}
.SponsorsLogo{
    width: 13vw;
    height: 3vw;
    margin-right: 40px;
}

article.part2Paragraph{
    padding: 1px;

}
.illustration{
    
    width: 25vw;
}

section{
    margin: 3px;
}
 

h2{
    margin-left: auto;
    margin-right: auto;
    width: 10em;
}


.part2Pics{
    width: 40%;
}

.part2{
    display: flex;
    
}

.button{
    margin: 25px;
}


.part2button{
    text-align: center;
    margin: auto;
    display: flex;
    display: grid;
    background: linear-gradient( to left,purple, orangered);
    border-radius: 5px;
    padding: 8px;
    color: white;
    border: none;
}

/*  **************************************************************KHALID*************************************************************** */

#Container{
    display: flex;
    justify-content: space-around;
}


.logo li h1 {

    color: black;
}
/**********/
/**********/


/**********/
nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   
  }
  
 nav  li {
    float: left;
  }
  
   nav li a, .dropbtn {
       margin-top: 14px;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  
   nav li a:hover, .dropdown:hover .dropbtn {
    background-color: rgba(150, 131, 131, 0.445);
  }
  /********/
  li a:hover{
    background-color: rgba(255, 255, 255, 0.445);

  }
  
  /********/
   nav li.dropdown {
    display: inline-block;
  }
  a{
      text-decoration: none;
   
  }
  
 nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  nav .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
   nav .dropdown-content a:hover {background-color: #f1f1f1;}
  
  nav .dropdown:hover .dropdown-content {
    display: block;
  }
/*********/
footer{
    margin-top: 20px;
  
}
.DescAndSocialIcon { 
   display: flex;
   flex-direction: column;
   width: 500px;
   flex:2;
  
}
.SocialIcon {
    margin-top: 100px;
}
.imageOfHeader{
    flex: ;
}
#ContainerFooter{
    margin-top: 10px;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;


}

.LeftSide p{
    font-size: 20px;
}

#footer-top-area-con{
    color: white;
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 10px;
    padding: 20px;
    margin-top: 10px;
    padding: 20px;
    align-content: center;
}
#footer-top-area-con .LeftSide{
    flex:2;
}
#footer-top-area-con  .MiddleSide{
    flex: 2;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}
#footer-top-area-con  .MiddleSide > *{
    flex: 1;
}

#footer-top-area-con .MiddleSide ul{
    display: inline-block;
    width: 24%;
    vertical-align: start;
}

#footer-top-area-con .RightSideImage{
    flex:1.5;
}
footer .MiddleSide a{
    display: inline-block;
    padding: 0.5em 0px;
    color: white;
}

#footer-top-area-con > *{
    margin: 1px;

}
footer li{
    list-style-type: none;
    padding:4px ;
}
.SocialIcon li{
    display: inline-block;
    background-color: white;
}
footer >p{
    text-align: center;
    width: 100%;
}
.RightSideImage{
    position: relative;
}
.RightSideImage img{
    --size:17em;
    position: absolute;
    bottom: 0px;
    right: 3em;
    width: calc(var(--size)*1.6);
    height: var(--size);
}